@page
@model Software_Assesment.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "";
}

<h1>Bookings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Name: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Search"? />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.bookings[0].LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookings[0].FirstName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.bookings[0].SessionDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookings[0].SessionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookings[0].SessionLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookings[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookings[0].Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookings[0].ContactNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.bookings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
